.animatino,
#app,
#app2 {
  transition: all 0.5s ease-in-out;
}
.animatino .In,
#app2 .In {
  animation: fadeIn 2s ease-in;
}
.animatino .Out,
#app2 .Out {
  animation: fadeOut 2s ease-out;
}
#application {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/**
reference
once
multiple
*/
/**
isnumber
isstring
iscolor
iskeyword
isurl
isunit
isstring
isidentifier
isvariable
iscolor
*/
/**
islength
ispercentage
isem
isrem
isresolution
isviewportwidth
isviewportheight
*/
