// 继承

.animatino{
    transition: all 0.5s ease-in-out;
    
    .In {
        animation: fadeIn 2s ease-in;
    }
    
    .Out {
        animation: fadeOut 2s ease-out;
    }

}


#app{
    &:extend(.animatino );
}

#app2{
    &:extend(.animatino all );

}

// 导入

@import "main";

/**
reference
once
multiple
*/


// 条件表达式
// 条件检测
// 类型检测函数
/**
isnumber
isstring
iscolor
iskeyword
isurl
isunit
isstring
isidentifier
isvariable
iscolor
*/

// 单位检测函数
/**
islength
ispercentage
isem
isrem
isresolution
isviewportwidth
isviewportheight
*/

// 函数库